//Write your scss here and then compile it to "style.css"...

button{
    width: 200px;
    height: 100px;
    background: black;
}




#blue{
    color: blue;
}



#red{
    color:red;
}



#green{
    color:green;
}

#square{
    height: 200px;
    width: 200px;
    background-color:black;
}
