//Write your scss here and then compile it to "style.css"...


#cookie {
    background-image: url("resources/images/perfectCookie.png");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid red;

    width: 210px;
    height: 210px;
    margin: 0 auto;
    
    
    }

    .cookie_clickable:active {
        -webkit-animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                  animation: scale-down-center 1ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                  
    }
    
    

    .bump-out {
   
    }
      
    .heartbeat-down {
    -webkit-animation: heartbeat-down 0.6s ease-in-out forwards;
        animation: heartbeat-down 0.6s ease-in-out forwards;
    }

    .heartbeat-up {
        -webkit-animation: heartbeat-up 0.6s ease-in-out forwards;
            animation: heartbeat-up 0.6s ease-in-out forwards;
        }
      
      
      @-webkit-keyframes scale-down-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.88);
                  transform: scale(0.88);
        }
      }
      @keyframes scale-down-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.88);
                  transform: scale(0.88);
        }
      }

      @-webkit-keyframes scale-down-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.88);
                  transform: scale(0.88);
        }
      }


      @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(.86);
                  transform: scale(.86);
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }

      @-webkit-keyframes heartbeat-down {
        from {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        10% {
          -webkit-transform: scale(0.94);
                  transform: scale(0.94);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        17% {
          -webkit-transform: scale(0.84);
                  transform: scale(0.84);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        33% {
          -webkit-transform: scale(0.90);
                  transform: scale(0.90);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        45% {
          -webkit-transform: scale(.85);
                  transform: scale(.85);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }

        60% {
            -webkit-transform: scale(.88);
                    transform: scale(.88);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
          }
        80% {
        -webkit-transform: scale(.86);
                transform: scale(.86);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100%{
        -webkit-transform: scale(86);
                transform: scale(86);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
      }
      @keyframes heartbeat-down {
        from {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: center center;
                    transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
          }
          10% {
            -webkit-transform: scale(0.94);
                    transform: scale(0.94);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
          }
          17% {
            -webkit-transform: scale(0.84);
                    transform: scale(0.84);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
          }
          33% {
            -webkit-transform: scale(0.90);
                    transform: scale(0.90);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
          }
          45% {
            -webkit-transform: scale(.85);
                    transform: scale(.85);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
          }
  
          60% {
              -webkit-transform: scale(.88);
                      transform: scale(.88);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
          80% {
          -webkit-transform: scale(.86);
                  transform: scale(.86);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          }
  
          100%{
          -webkit-transform: scale(.86);
                  transform: scale(.86);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          }
        }

    @-webkit-keyframes heartbeat-up {
        from {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
            -webkit-transform-origin: center center;
                    transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
        }
        10% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
        }
        17% {
            -webkit-transform: scale(1.15);
                    transform: scale(1.15);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
        }
        33% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
        }
        45% {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
        }

        60% {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
        80% {
        -webkit-transform: scale(1.6);
                transform: scale(1.6);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        }
        @keyframes heartbeat-up {
        from {
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transform-origin: center center;
                    transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
            10% {
            -webkit-transform: scale(0.94);
                    transform: scale(0.94);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
            }
            17% {
            -webkit-transform: scale(0.84);
                    transform: scale(0.84);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
            33% {
            -webkit-transform: scale(0.90);
                    transform: scale(0.90);
            -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
            }
            45% {
            -webkit-transform: scale(.85);
                    transform: scale(.85);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
    
            60% {
                -webkit-transform: scale(.88);
                        transform: scale(.88);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
            }
            80% {
            -webkit-transform: scale(.86);
                    transform: scale(.86);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
    
            100%{
            -webkit-transform: scale(.86);
                    transform: scale(.86);
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            }
        }