#cookie {
  background-image: url("resources/images/perfectCookie.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid red;
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.cookie_clickable:active {
  -webkit-animation: heartbeat-down 400ms ease-in-out forwards;
  animation: heartbeat-down 400ms ease-in-out forwards;
}

.cookie_clickable {
  transition: all ease-in-out 0.3s;
  -webkit-animation: heartbeat-up 400ms ease-in-out forwards;
  animation: heartbeat-up 400ms ease-in-out forwards;
}

@keyframes heartbeat-up {
  0% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  66% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  77% {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  88% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  94% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat-down {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
  }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  70% {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  77% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  83% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*# sourceMappingURL=style.css.map */
